<% if !User.current.nil? && User.current.pref[:time_tracker_enabled] && !@project.nil? && User.current.allowed_to?(:log_time, @project) %>
	<h3><%= l( :time_tracker_label_account_settings ) %></h3>
	
	<% if time_tracker_for(User.current).nil? %>
		<% unless @issue.nil? %>
			<%= time_tracker_button_tag(User.current, :project => @project, :issue => @issue ) %>
		<% end %>
		
		<% @project.self_and_ancestors.reverse.each do |proj| %>
			<%= time_tracker_button_tag(User.current, :project => proj, :issue => nil )  %>
		<% end %>
	<% else %>
		<%= time_tracker_button_tag(User.current, :project => @project, :issue => @issue ) %>
	<% end %>
		
<% end %>
