<% if !User.current.nil? && User.current.pref[:time_tracker_enabled] && !@project.nil? && User.current.allowed_to?(:log_time, @project) %>
	<h3><%= l( :time_tracker_label_account_settings ) %></h3>
	
	<div id='time_tracker_sidebar_links' >
	  <%= render :partial => "time_trackers/time_tracker_sidebar_control", :locals => { :project => @project, :issue => @issue } %>
  </div>
<% end %>
